<h1 class="titulo-main">Realize aqui seu cadastro!</h1>
<div class="form-container">
  <h1 class="form-title">Cadastro</h1>
  <form class="form">
  <div class="input-info">
    <label class="label" for="name">Nome:</label>
    <input class="input" type="text" name="name" placeholder="Insira o Nome" required>
  </div>
  <div class="input-info">
    <label class="label" for="data">Data de Nascimento:</label>
    <input class="input" type="date" name="data" required>
  </div>
  <div class="input-info">
    <label class="label" for="tel">Telefone:</label>
    <input class="input" type="tel" name="tel" placeholder="(__) _____-____" required>
  </div>
  <div class="input-info">
    <label class="label" for="email">Email:</label>
    <input class="input" name="email" type="email" placeholder="exemplo@exemplo.com" required>
  </div>
  <div class="input-info">
    <label class="label" for="cpf">CPF:</label>
    <input class="input" name="cpf" type="text" placeholder="Insira o CPF" required>
  </div>
  <div class="input-info">
    <label class="label" for="cep">CEP:</label>
    <input class="input" name="cep" id="cep" type="text" placeholder="Insira o CEP" required>
  </div>
  <div class="input-info">
    <label class="label" for="rua">Rua:</label>
    <input class="input" type="text" name="rua" minlength="1" placeholder="Endereço" required>
  </div>
  <div class="input-info">
    <label class="label" for="log">Logradouro:</label>
    <input class="input" name="logradouro" type="text" placeholder="nº" minlength="1" maxlength="5" data-tipo="logradouro" required>
  </div>
  <div class="input-info">
    <label class="label" for="cidade">Cidade:</label>
    <input class="input" type="text" name="cidade" minlength="1" placeholder="Cidade" required>
  </div>
  <div class="input-info">
    <label class="label" for="estado">Estado:</label>
    <input class="input" type="text" name="estado" minlength="1" placeholder="Estado"  required>
  </div>
  <div class="btns">
    <button type="submit" class="submit">Enviar</button>
    <button class="submit"><a class="cancel-btn" [routerLink]="'/login'">Cancelar</a></button>
  </div>
  </form>
</div>